useDynLib(ctmcd)
importFrom(Rcpp, evalCpp)
import(stats)
import(expm)
import(graphics)
import(grDevices)
import(utils)
import(numDeriv)
S3method(gm,default)
S3method(plot,gm)
S3method(print,gm)
S3method(summary,gm)
S3method(gmci,default)
S3method(plot,gmci)
S3method(print,gmci)
exportPattern("^[[:alpha:]]+")
